<p style="background-color: purple; font-family: newtimeroman; font-size: 250%; color: #FFF9ED; border-radius: 80px 20px; padding: 25px; text-align: center;"> <b> Credit Score Project</b>

<span style="display: inline-block; width: calc(80% - 20px); text-align: center;"></span> 

</p>

- *ID*: The unique identifier for each record in the dataset.
- *Customer_ID*: The unique identifier for each customer.
- *Month*: The month to which the record corresponds.
- *Name*: The name of the customer.
- *Age*: The age of the customer. Note: There are some data quality issues, such as anomalous values.
- *SSN*: The Social Security Number of the customer.
- *Occupation*: The occupation of the customer.
- *Annual_Income*: The annual income of the customer in USD.
- *Monthly_Inhand_Salary*: The monthly take-home (net) salary of the customer in USD.
- *Num_Bank_Accounts*: The number of bank accounts held by the customer.
- *Num_Credit_Card*: The number of credit cards held by the customer.
- *Interest_Rate*: The average interest rate (%) applicable to the customer's loans or credit cards.
- *Num_of_Loan*: The number of loans (including mortgages, personal loans, auto loans, etc.) that the customer has.
- *Type_of_Loan*: The types of loans taken by the customer, listed in a single cell and separated by semicolons.
- *Delay_from_due_date*: The average delay (in days) from the due date for payments across all the customer's loans and credit cards.
- *Num_of_Delayed_Payment*: The total number of times the customer has delayed payments across all loans and credit cards.
- *Changed_Credit_Limit*: Any recent changes to the customer's credit limit (requires further context).
- *Num_Credit_Inquiries*: The number of inquiries made on the customer's credit report, typically indicating applications for new credit.
- *Credit_Mix*: The diversity of credit types held by the customer, affecting credit scores. Specific categories (e.g., "Good", "Bad") need further definition.
- *Outstanding_Debt*: The total outstanding debt the customer has across all loans and credit lines.
- *Credit_Utilization_Ratio*: The ratio of total debt to total available credit, a key indicator of credit risk.
- *Credit_History_Age*: The age of the customer's credit history.
- *Payment_of_Min_Amount*: Indicates whether the customer typically pays at least the minimum amount due on their debts.
- *Total_EMI_per_month*: The total monthly payment the customer makes towards all their loans as EMI (Equated Monthly Installment).
- *Amount_invested_monthly*: The amount of money the customer invests monthly (could be in savings accounts, stocks, bonds, etc.).
- *Payment_Behaviour*: Characterizes the customer's payment behavior in terms of expenditure and value of transactions.
- *Monthly_Balance*: The average monthly balance maintained by the customer in their accounts.
- *Credit_Score*: The credit score of the customer, a summary measure of their creditworthiness.

### Installing Tensorflow

In [1]:
#pip install keras

In [2]:
#!pip install tensorflow

## Import Libraries

In [3]:
import tensorflow as tf

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from skimpy import clean_columns

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

plt.rcParams["figure.figsize"] = (10,6)

sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Set it None to display all rows in the dataframe
# pd.set_option('display.max_rows', None)

# Set it to None to display all columns in the dataframe
pd.set_option('display.max_columns', None)

## Read Data Sets

In [5]:
df = pd.read_csv("train.csv")
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,11.27,4.000,_,809.98,26.823,22 Years and 1 Months,No,49.575,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",-1,NaN,11.27,4.000,Good,809.98,31.945,NaN,No,49.575,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,_,4.000,Good,809.98,28.609,22 Years and 3 Months,No,49.575,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5,4,6.27,4.000,Good,809.98,31.378,22 Years and 4 Months,No,49.575,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6,NaN,11.27,4.000,Good,809.98,24.797,22 Years and 5 Months,No,49.575,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [6]:
df0 = pd.read_csv("test.csv")
df0.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,11.27,2022.000,Good,809.98,35.030,22 Years and 9 Months,No,49.575,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,9,13.27,4.000,Good,809.98,33.053,22 Years and 10 Months,No,49.575,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",-1,4,12.27,4.000,Good,809.98,33.812,NaN,No,49.575,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",4,5,11.27,4.000,Good,809.98,32.431,23 Years and 0 Months,No,49.575,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.987,2,4,6,1,Credit-Builder Loan,3,1,5.42,5.000,Good,605.03,25.927,27 Years and 3 Months,No,18.816,39.684018417945296,High_spent_Large_value_payments,485.2984336755923

## EDA

In [7]:
df = clean_columns(df)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        100000 non-null  object
 1   customer_id               100000 non-null  object
 2   month                     100000 non-null  object
 3   name                      90015 non-null   object
 4   age                       100000 non-null  object
 5   ssn                       100000 non-null  object
 6   occupation                100000 non-null  object
 7   annual_income             100000 non-null  object
 8   monthly_inhand_salary     84998 non-null   float64
 9   num_bank_accounts         100000 non-null  int64
 10  num_credit_card           100000 non-null  int64
 11  interest_rate             100000 non-null  int64
 12  num_of_loan               100000 non-null  object
 13  type_of_loan              88592 non-null   object
 14  delay_from_due_date       100000 non-null  int64
 15  num_of_delayed_payment    92998 non-null   object
 16  changed_credit_limit      100000 non-null  object
 17  num_credit_inquiries      98035 non-null   float64
 18  credit_mix                100000 non-null  object
 19  outstanding_debt          100000 non-null  object
 20  credit_utilization_ratio  100000 non-null  float64
 21  credit_history_age        90970 non-null   object
 22  payment_of_min_amount     100000 non-null  object
 23  total_emi_per_month       100000 non-null  float64
 24  amount_invested_monthly   95521 non-null   object
 25  payment_behaviour         100000 non-null  object
 26  monthly_balance           98800 non-null   object
 27  credit_score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
monthly_inhand_salary,84998.000,4194.171,3183.686,303.645,1625.568,3093.745,5957.448,15204.633
num_bank_accounts,100000.000,17.091,117.405,-1.000,3.000,6.000,7.000,1798.000
num_credit_card,100000.000,22.474,129.057,0.000,4.000,5.000,7.000,1499.000
interest_rate,100000.000,72.466,466.423,1.000,8.000,13.000,20.000,5797.000
delay_from_due_date,100000.000,21.069,14.860,-5.000,10.000,18.000,28.000,67.000
num_credit_inquiries,98035.000,27.754,193.177,0.000,3.000,6.000,9.000,2597.000
credit_utilization_ratio,100000.000,32.285,5.117,20.000,28.053,32.306,36.497,50.000
total_emi_per_month,100000.000,1403.118,8306.041,0.000,30.307,69.249,161.224,82331.000

In [10]:
missing_count = df.isnull().sum()
value_count = df.isnull().count()
missing_percentage = round(missing_count / value_count * 100, 2)
missing_df = pd.DataFrame({"count": missing_count, "percentage": missing_percentage})
missing_df

                          count  percentage
id                            0       0.000
customer_id                   0       0.000
month                         0       0.000
name                       9985       9.980
age                           0       0.000
ssn                           0       0.000
occupation                    0       0.000
annual_income                 0       0.000
monthly_inhand_salary     15002      15.000
num_bank_accounts             0       0.000
num_credit_card               0       0.000
interest_rate                 0       0.000
num_of_loan                   0       0.000
type_of_loan              11408      11.410
delay_from_due_date           0       0.000
num_of_delayed_payment     7002       7.000
changed_credit_limit          0       0.000
num_credit_inquiries       1965       1.960
credit_mix                    0       0.000
outstanding_debt              0       0.000
credit_utilization_ratio      0       0.000
credit_history_age         9030       9.030
payment_of_min_amount         0       0.000
total_emi_per_month           0       0.000
amount_invested_monthly    4479       4.480
payment_behaviour             0       0.000
monthly_balance            1200       1.200
credit_score                  0       0.000

### Drop Unnecessary Columns

In [11]:
df = df.drop(columns=['id', 'customer_id', 'name', 'ssn', 'type_of_loan'], axis = 1)

### Monthly Inhand Salary

In [12]:
df['monthly_inhand_salary'].fillna(df['monthly_inhand_salary'].median(), inplace=True)

### Num of Delayed Payment

In [13]:
df['num_of_delayed_payment'] = df['num_of_delayed_payment'].str.replace('-', '').str.replace('_', '')
df['num_of_delayed_payment'] = pd.to_numeric(df['num_of_delayed_payment'], errors='coerce')

df['num_of_delayed_payment'].fillna(df['num_of_delayed_payment'].median(), inplace=True)

In [14]:
df['num_of_delayed_payment'].value_counts()

num_of_delayed_payment
14.000      11195
19.000       5481
17.000       5412
16.000       5312
10.000       5309
            ...
848.000         1
4134.000        1
1530.000        1
1502.000        1
2047.000        1
Name: count, Length: 708, dtype: int64

### Num Credit Inquiries

In [ ]:
df['num_credit_inquiries'].fillna(df['num_credit_inquiries'].median(), inplace=True)

### Payment of Min Amount

In [ ]:
df['payment_of_min_amount'].replace({'NM': 'No'}, inplace=True)
df = pd.get_dummies(df, columns=['credit_mix', 'payment_of_min_amount'])

### Credit History Age Months

In [ ]:
def years_months_to_months(period):
    if pd.isnull(period):
        return period
    
    parts = period.split(' ')
    years = int(parts[0])
    months = int(parts[3])
    total_months = years * 12 + months
    return total_months

df['credit_history_age_months'] = df['credit_history_age'].apply(years_months_to_months)

df[['credit_history_age', 'credit_history_age_months']].head()

In [ ]:
df['credit_history_age_months'].fillna(df['credit_history_age_months'].median(), inplace=True)

In [ ]:
df = df.drop('credit_history_age', axis = 1)

### Amount Invested Monthly

In [ ]:
df['amount_invested_monthly'] = pd.to_numeric(df['amount_invested_monthly'], errors='coerce')

median_amount_invested_monthly = df['amount_invested_monthly'].median()

df['amount_invested_monthly'].fillna(median_amount_invested_monthly, inplace=True)

### Monthly Balance

In [ ]:
df['monthly_balance'] = pd.to_numeric(df['monthly_balance'], errors='coerce')

median_monthly_balance = df['monthly_balance'].median()

df['monthly_balance'].fillna(median_monthly_balance, inplace=True)

In [ ]:
missing_count = df.isnull().sum()
value_count = df.isnull().count()
missing_percentage = round(missing_count / value_count * 100, 2)
missing_df = pd.DataFrame({"count": missing_count, "percentage": missing_percentage})
missing_df

## Data Visualization

In [ ]:
for column in df.columns:
    unique_values = df[column].unique()
    unique_count = len(unique_values)
   
    print(f"\033[1m\033[91mColumn:\033[0m \033[1m\033[94m{column}\033[0m")
    print(f"\033[1m\033[92mNumber of Unique Values:\033[93m {unique_count}")
    
    if unique_count <= 10:
        print(f"\033[1mUnique Values:\033[0m {unique_values}\n")
    else:
        print(f"\033[95mFirst 10 Unique Values:\033[0m {unique_values[:10]}")
        print(f"... and {unique_count - 10} more unique values\n")

In [ ]:
ax = sns.countplot(x=df["credit_score"], palette='Set1')
ax.spines["top"].set_visible(False)
ax.spines["right"].set_visible(False)
for p in ax.patches:
    ax.annotate(f'{int(p.get_height())}',
                (p.get_x() + p.get_width() / 2., p.get_height()),
                ha='center', va='center',
                xytext=(0, 10),
                textcoords='offset points')
plt.show()

In [ ]:
max_unique_values = 100

for col in df.columns:
    if col in df and df[col].nunique() <= max_unique_values:
        plt.figure(figsize=(12, 6))
        ax = sns.countplot(x=col, data= df, palette="colorblind")
        
        plt.title(f"Count by {col}")
        plt.xticks(rotation=90)  # Rotate x-axis labels for better readability
        
        # Adding counts above each bar
        for p in ax.patches:
            ax.annotate(f'{int(p.get_height())}', (p.get_x() + p.get_width() / 2., p.get_height()),
                        ha='center', va='center', fontsize=11, color='black', xytext=(0, 5),
                        textcoords='offset points')
        
plt.show()

In [ ]:
numeric_cols = df.select_dtypes(include=['number']).columns

for col in numeric_cols:
    g = sns.histplot(df[col], color="b", kde=True, label=f"Skewness : {df[col].skew():.2f}")
    plt.legend(loc="best")
    plt.title(f"Distribution of {col}")
    plt.xlabel(col)
    plt.ylabel('Frequency')
    plt.show()

In [ ]:
import plotly.express as px

def create_pie_chart_of_count(df, column_name):
    df_not_null = df[~df[column_name].isnull()]
    fig = px.pie(df_not_null.groupby([column_name]).size().reset_index(name='count'), names=column_name, values='count')
    fig.show()

create_pie_chart_of_count(df, 'credit_score')
create_pie_chart_of_count(df, 'payment_behaviour')
create_pie_chart_of_count(df, 'occupation')

In [ ]:
sns.heatmap(df.corr(numeric_only=True), annot=True);

In [ ]:
df_numeric = df.select_dtypes(include ="number")
df_numeric

In [ ]:
def color_correlation1(val):
    """
    Takes a scalar and returns a string with
    the css property in a variety of color scales 
    for different correlations.
    """
    if val >= 0.6 and val < 0.99999 or val <= -0.6 and val > -0.99999:
        color = 'red'
    elif val < 0.6 and val >= 0.3 or val > -0.6 and val <= -0.3:
        color = 'blue'
    elif val == 1:
        color = 'green'    
    else:
        color = 'black'
    return 'color: %s' % color


df_numeric.corr().style.applymap(color_correlation1)

In [ ]:
sns.pairplot(data=df, hue="credit_score")
plt.show()

## Data Preprocessing

### Month

In [ ]:
months = {'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6, 'July': 7, 'August': 8}
df['Month'] = df['month'].map(months)

### Occupation

In [ ]:
df['occupation'].replace('________', 'Unknown', inplace=True)

less_frequent_occupations = ['Musician', 'Journalist'] # example categories to combine
df['occupation'] = df['occupation'].apply(lambda x: 'Other' if x in less_frequent_occupations else x)

df = pd.get_dummies(df, columns=['occupation'])

### Credit Score

In [ ]:
df['credit_score'].value_counts()

In [ ]:
class_mapping = {'Good': 0, 'Standard': 1, 'Poor': 2}
df['credit_score'] = df['credit_score'].map(class_mapping)

## Train - Test Split